### Python Basics - week 01

In [1]:
print("Hi")

Hi

In [2]:
# String
name = "Muditha"
print(name)
type(name)

Muditha

str

In [3]:
# Integer
age = 23
print(age)
type(age)

23

int

In [4]:
# Bolean
is_student = True
print(is_student)
type(is_student)

True

bool

In [5]:
# List
students = ["Muditha", "Dhanusha", "Ashoka"]
print(students)
type(students)

['Muditha', 'Dhanusha', 'Ashoka']

list

In [6]:
# Dictionary
name = "Dinusha"
time = 10         # in seconds

In [ ]:
run_time = {"name": "Bolt", "time": 9.69}
print(run_time)

{'Bolt': 'Bolt', 'time': 9.69}

In [8]:
responder = {'name': "John", 'age': 30}
responder

{'name': 'John', 'age': 30}

In [9]:
first_name = "Usain"
last_name = "Bolt"

full_name = first_name +" "+ last_name
full_name

age = 40

is_active = False

Olympics_won = ["2008", "2012","2016"]

name_register = {
    "first name": first_name,
    "last name": last_name,
    "full name": full_name,
    "Still an athelete?": is_active,
    "Olympics won": Olympics_won
}
name_register

{'first name': 'Usain',
 'last name': 'Bolt',
 'full name': 'Usain Bolt',
 'Still an athelete?': False,
 'Olympics won': ['2008', '2012', '2016']}

In [10]:
name_register.items()

dict_items([('first name', 'Usain'), ('last name', 'Bolt'), ('full name', 'Usain Bolt'), ('Still an athelete?', False), ('Olympics won', ['2008', '2012', '2016'])])

Looping through dict items

In [11]:
for var_name, value in name_register.items():
    print("Name: ",var_name)
    print("Value ", value)
    print("Data type ", type(value))

Name:  first name
Value  Usain
Data type  <class 'str'>
Name:  last name
Value  Bolt
Data type  <class 'str'>
Name:  full name
Value  Usain Bolt
Data type  <class 'str'>
Name:  Still an athelete?
Value  False
Data type  <class 'bool'>
Name:  Olympics won
Value  ['2008', '2012', '2016']
Data type  <class 'list'>

Using f-strings

In [12]:
for var_name, value in name_register.items():
    print(f"Name: {var_name}")
    print(f"Value: {value}")
    print(f"Data type: {type(value)}")

Name: first name
Value: Usain
Data type: <class 'str'>
Name: last name
Value: Bolt
Data type: <class 'str'>
Name: full name
Value: Usain Bolt
Data type: <class 'str'>
Name: Still an athelete?
Value: False
Data type: <class 'bool'>
Name: Olympics won
Value: ['2008', '2012', '2016']
Data type: <class 'list'>

Data frames

In [13]:
type(value).__name__

'list'

In [14]:
data = []

for var_name, value in name_register.items():
    data.append({
        "Data ":var_name,
        "Value": value,
        "Type": type(value).__name__
    })

In [15]:
data

[{'Data ': 'first name', 'Value': 'Usain', 'Type': 'str'},
 {'Data ': 'last name', 'Value': 'Bolt', 'Type': 'str'},
 {'Data ': 'full name', 'Value': 'Usain Bolt', 'Type': 'str'},
 {'Data ': 'Still an athelete?', 'Value': False, 'Type': 'bool'},
 {'Data ': 'Olympics won', 'Value': ['2008', '2012', '2016'], 'Type': 'list'}]

In [16]:
import pandas as pd
df = pd.DataFrame(data)
df

                Data                Value  Type
0          first name               Usain   str
1           last name                Bolt   str
2           full name          Usain Bolt   str
3  Still an athelete?               False  bool
4        Olympics won  [2008, 2012, 2016]  list

CSV

In [17]:
rel_path = "Exported data/"
df.to_csv(rel_path+"Runner data.csv", index = False)

Excel

In [18]:
rel_path = "Exported data/"
df.to_excel(rel_path+"Runner data.xlsx", index= False)

JSON

In [19]:
rel_path = "Exported data/"
df.to_json(rel_path+"Runner data.json", orient = "records",indent= 2)