API Key (Do not expose anywhere)

In [ ]:
api_key = "ADD API KEY HERE"

Using the request module

In [31]:
import requests

url = "https://api.openweathermap.org/data/2.5/weather"
params1 = {"q":"Nuwara Eliya","appid":api_key,"units":"metric"}

response = requests.get(url, params = params1)
data = response.json()
data

{'coord': {'lon': 80.7829, 'lat': 6.9708},
 'weather': [{'id': 804,
   'main': 'Clouds',
   'description': 'overcast clouds',
   'icon': '04d'}],
 'base': 'stations',
 'main': {'temp': 16.15,
  'feels_like': 16.14,
  'temp_min': 16.15,
  'temp_max': 16.15,
  'pressure': 1014,
  'humidity': 89,
  'sea_level': 1014,
  'grnd_level': 856},
 'visibility': 781,
 'wind': {'speed': 2.82, 'deg': 276, 'gust': 4.58},
 'clouds': {'all': 100},
 'dt': 1753600866,
 'sys': {'country': 'LK', 'sunrise': 1753576196, 'sunset': 1753620994},
 'timezone': 19800,
 'id': 1232783,
 'name': 'Nuwara Eliya',
 'cod': 200}

In [16]:
import pandas as pd

pd.DataFrame([data])

,coord,weather,base,main,visibility,wind,clouds,dt,sys,timezone,id,name,cod
0,"{'lon': 79.8478, 'lat': 6.9319}","[{'id': 804, 'main': 'Clouds', 'description': ...",stations,"{'temp': 31.35, 'feels_like': 38.35, 'temp_min...",7251,"{'speed': 7, 'deg': 266, 'gust': 9.82}",{'all': 100},1753600043,"{'country': 'LK', 'sunrise': 1753576424, 'suns...",19800,1248991,Colombo,200

In [33]:
city = data['name']
country = data['sys']['country']
description = data['weather'][0]['description']
temperature = data['main']['temp']
feels_like = data['main']['feels_like']
humidity = data['main']['humidity']
pressure = data['main']['pressure']
wind_speed = data['wind']['speed']
cloud_cover = data['clouds']['all']

In [37]:
weather_data = {"City":city,
"Country": country,
"Description": description,
"Temperature": temperature,
"Feels like": feels_like,
"Humidity": humidity,
"Pressure": pressure,
"Wind speed": wind_speed,
"Cloud cover": cloud_cover}

In [38]:
import pandas as pd

pd.DataFrame([weather_data])

,City,Country,Description,Temperature,Feels like,Humidity,Pressure,Wind speed,Cloud cover
0,Nuwara Eliya,LK,overcast clouds,16.15,16.14,89,1014,2.82,100

Creating an end to end data extractor

In [ ]:
import time
import pandas as pd
import requests

cities = ["Colombo", "Kandy", "Nuwara Eliya","Anuradhapura", "Gampaha", "Jaffna"]

weather_data = []
for city in cities:
    url = "https://api.openweathermap.org/data/2.5/weather"
    params1 = {"q":city,"appid":api_key,"units":"metric"}

    response = requests.get(url, params = params1)
    
    if response.status_code==200:
        data = response.json()

        city = data['name']
        country = data['sys']['country']
        description = data['weather'][0]['description']
        temperature = data['main']['temp']
        feels_like = data['main']['feels_like']
        humidity = data['main']['humidity']
        pressure = data['main']['pressure']
        wind_speed = data['wind']['speed']
        cloud_cover = data['clouds']['all']

        weather_data.append({"City":city,
        "Country": country,
        "Description": description,
        "Temperature (C)": temperature,
        "Feels like(C)": feels_like,
        "Humidity(%)": humidity,
        "Pressure(hPa)": pressure,
        "Wind speed(m/s)": wind_speed,
        "Cloud cover(%)": cloud_cover})

    else:
        print(f"ERROR!: Could not get data for {city} - Status code {response.status_code}")

    # Just to take time between requests so that server doesn't get overloaded
    print(f"Sleeping for 1s after {city}")
    time.sleep(1)
    # print("Back up!")

df = pd.DataFrame(weather_data)
df

Sleeping for 1s after Colombo
Sleeping for 1s after Kandy
Sleeping for 1s after Nuwara Eliya
Sleeping for 1s after Anuradhapura
Sleeping for 1s after Gampaha
Sleeping for 1s after Jaffna

,City,Country,Description,Temperature (C),Feels like(C),Humidity(%),Pressure(hPa),Wind speed(m/s),Cloud cover(%)
0,Colombo,LK,overcast clouds,31.26,38.26,83,1011,7.00,100
1,Kandy,LK,overcast clouds,25.72,26.46,81,1011,3.59,100
2,Nuwara Eliya,LK,overcast clouds,15.89,15.83,88,1012,3.03,99
3,Anuradhapura,LK,overcast clouds,29.93,32.51,59,1008,8.30,94
4,Gampaha,LK,overcast clouds,30.13,37.13,89,1010,3.72,96
5,Jaffna,LK,overcast clouds,28.59,32.18,72,1008,7.36,99